#dropdown {
    display: none;
}

#dephisto {
    display: none;
    text-align: center;
    padding-top: 9px;
}

#dephisto #title {
    margin: 0 auto;
    font-weight: bold;
}

.esri-color-slider .esri-slider .esri-slider__content {
    margin: 0 auto 0 44%;
}

.esri-slider__label.esri-slider__label--interactive {
    display: none;
}