#chart {
    display: none;
    background: white;
}

#dropdown {
    display: none;
}

#descriptions {
    display: none;
    width: 500px;
    max-width: 70vw;
    overflow-y: scroll;
    max-height: 80vh;
}

#chart {
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 1000px) {
    #descriptions {
        width: 400px;
        max-height: 40vh;
    }
}

.subtitle div {
    padding-left: 0.25rem;
    margin-bottom: .75rem;
}

#descriptions::-webkit-scrollbar {
    -webkit-appearance: scrollbartrack-vertical;
}

.desc-item,
new-calcite-accordion-item p {
    font-size: 13px;
}

new-calcite-accordion-item p {
    margin: 0;
}

.desc-item>p,
b,
calcite-accordion {
    margin: 5px;
}